<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionstrings>
    <add name="ConnectionString" connectionstring="Data Source=.\DESKTOP-0TO6RUB\SQLEXPRESS;Initial Catalog=Teste;Integrated Security=True" providername="System.Data.SqlClient">
    </add>
  </connectionstrings>
</configuration>
